body {
  width: 620px;
  height: auto;
  padding: 10px;
  border: 1px solid rgb(62, 230, 185);
}
table {
  width: 600px;
  border-spacing: 0;
  border: 1px solid #bbb;
}
#tb tr {
  height: 27px;
}
#tb tr th,
#tb tr td {
  text-align: left;
  border-bottom: 1px solid #ccc;
}
#tb tr:last-child td {
  border: none;
}
